.form_container{
    width: 30%;
   box-shadow: rgba(100, 100,111,0.2) 0px 7px 29px 0px;
   margin-top: 270px;
   margin-bottom: 55px;
}

error 
{
    color: red;
}


@media screen and (max-width: 1000px) 
{
    .form_container{
        width: 45%;
        box-shadow: rgba(100, 100,111,0.2) 0px 7px 29px 0px;
    }
    
}
@media screen and (max-width: 700px) 
{
    .form_container{
        width: 65%;
        box-shadow: rgba(100, 100,111,0.2) 0px 7px 29px 0px;
    }
    
}
.signup-link {
    color: black;
    margin-right: 75px; 
    /* You can add more styles if needed */
  }
